RewriteEngine on

RewriteRule ^(index|contact|registration|post|author_posts|search)$ $1.php [NC,L]

RewriteRule ^post/(\d+)$ post.php?p_id=$1 [NC,L]

RewriteRule ^post/([^/]+)$ post.php?slug=$1 [NC,L]

RewriteRule ^author_posts/([^/]+)$ author_posts.php?author=$1 [NC,L]

RewriteRule ^category/(\d+)$ category.php?category=$1 [NC,L]

RewriteRule ^category/([^/]+)$ category.php?category=$1 [NC,L]

RewriteRule ^search/ search.php [NC,L]